The store sells movies and lets the user rent/return them.
The store starts by adding movies to its collection.
A movie is described by its name, format, and rating.

               Test Cases
----------------------------------------
- adding a movie
    1. Test if movie is added to store
- selling a movie
    2a. Test if the movie is removed from the store when sold
    2b. Test for an illegalStateException when selling a rented movie
- renting a movie
    3. Test if the movie becomes rented
- returning a movie
    4. Test if the movie becomes available again
